%h3.text-align-center-aa
  = "#{@category.name.capitalize}"
#images-container
  - @images.each do |img|
    .image-box
      = link_to (image_tag img.image.url, title: img.name), picture_path(@category.name, img.id)
  = paginate @images